<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<title>Bike Rentals Homepage</title>
<link rel="stylesheet" href="/static/styles/adminstyle5.css">
</head>
<body>
<header >
<h1>MG BIKES</h1>
</header>
<nav class="nav">
	<ul class="nav-ul">

			<li class="nav-li"><a class="nav-a" href="/booking">Book</a></li>
			<li class="nav-li"><a class="nav-a" href="#">Contact</a></li>
                  	<li class="nav-li"><a class="nav-a" href="/login">Login</a></li>
	</ul>
</nav>
	<div class="section-style">
		<h1 style="color:RED" >Welcome to Bike Rentals</h1>
		<p style="color:WHITE">Whether you're an experienced rider or a beginner, we have the perfect bike for you.</p>
            <p style="color:WHITE"> Our rentals are affordable and our bikes are well-maintained. Come see us today!</p>

	</div>

	<footer  >
		<p>&copy; 2023 Bike Rentals. Developed By <a style="color:crimson;" href="https://github.com/Dharshith77"> Dharshith</a></p>
	</footer>
</body>
</html>










